html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: absolute;
    background: white;
}

/************
 Header Stuff
************/

header {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    background: #654ff0;

    /* BG lightened 10% */
    border-bottom: 5px solid #9882FF;
}

header > * {
    margin:  10px 20px;
}

header img {
    max-height: 100px;
    flex-shrink: 0;
}

header .title {
    font-weight: bold;
    color: white;
    font-size: 48px;
    flex-shrink: 1;
}

header .subtitle {
    font-size: .5em;
    font-weight: normal;
}

header a {
    color: white;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgb(186, 171, 252)
}

/***************
 Content Stuff
****************/
.content {
    max-width: 800px;
    margin: 0 auto;
    display: relative;
    font-size: 18px;
    padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-bottom: .75em;
}

p {
    line-height: 1.5em;
    margin: 0 1em;
}


/*****************
  Schedule Stuff
******************/
.schedule {
    display: inline-flex;
    flex-direction: column;
}

.schedule .event {
    border: 1px solid #9882FF;
    margin-top: 5px;
    display: flex;
    align-items: center;
    min-height: 50px;
}

.schedule .event .desc {
    order: 2;
    font-weight: bold;
    padding: 0 2em;
}
.schedule .event .time {
    order: 1;
    background: #654ff0;
    color: white;
    font-weight: bold;
    height: 100%;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}